body{
    background-color: #1A4241;
    margin: 0;
    padding: 0;

}

.titre {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #fff;
    font-size: 30px;
}



#joinRoomForm {
    display: flex;
    justify-content: center;
    align-items: center;

}



#joinRoomForm button{
    color: #fff;
    border-color: #AC712F;
    border-radius: 30px;
    padding: 10px;
    background-color: #AC712F;
    font-family:monospace;
    margin-left: 20px;

}

#roomInput{
    color: #AC712F;
    border-color: #AC712F;
    border-radius: 30px;
    padding: 10px;
    font-family:monospace;
    margin-left: 20px;
    
}

#restartButton{
    color: #fff;
    border-color: #AC712F;
    border-radius: 30px;
    padding: 10px;
    background-color: #AC712F;
    font-family:monospace;
    margin-top: 30px;
    margin-left: 20px;

}



#gameBoard{
    border: 4px solid #AC712F;

    border-radius: 30px;

}

#messages{
    background-color: black;
    border: 4px solid #AC712F;
    padding: 5px;
    margin: 50px 100px;




}

.cell{
    background-color: black;

}